@import "colors";

.holder {
  background: inherit;
  display: flex;
  justify-content: center;
  padding: 10px;

  .button {
    background: $lightRed;
    margin: 2rem;

    width: 75px;
    height: 2.1em;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;

    // border: 2px solid #6b7280 !important;

    .btnText {
      color: $white;
      transition: 0.3s;
      font-weight: bolder;
    }

    &:active {
      /*Clicked and held*/
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
