$primary: rgb(12, 16, 27);
$red: hsl(351, 100, 59);
$black: hsl(0, 0, 0);
$accent: hsl(98, 100, 98);
$white: hsl(0, 0, 100);
$blue: hsl(221, 96, 57);
$myGray: hsl(220, 9, 46);
$oycrayola: hsl(47, 87, 66);
$lightRed: hsl(0, 100, 71);
$lightGrey: hsl(0, 0, 93);
$lightGrey2: hsl(240, 29, 97);
$lightBlue: hsl(223, 43, 13);
$darkGrey: hsl(0, 0, 15);
$gradient: linear-gradient(
  90deg,
  hsla(0, 100%, 71%, 1) 0%,
  hsla(49, 100%, 81%, 1) 100%
);

$gradient-animate: linear-gradient(
  262deg,
  hsla(0, 100%, 71%, 1) 0%,
  hsla(49, 100%, 81%, 1) 100%
);
