html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0 !important;
}

button,
input {
  font-family: "Nunito";
}

.container {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}
