@import "colors";

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h4,
p {
  margin: 0;
}

button,
input {
  font-family: "Nunito";
}

.container {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  // RIGHT, will work in all Sass versions.
  --accent-color-primary: #{$accent};
  --color-primary: #{$primary};
  --color-paragraph: #{$myGray};
  --color-background: #{$white};
  --grey-accent: #{$lightGrey};
  --gradient-primary: #{$gradient};
}

[data-theme="dark"] {
  --accent-color-primary: #{$accent};
  --color-primary: #{$white};
  --color-paragraph: #{$myGray};
  --color-background: #{$white};
  --grey-accent: #{$myGray};
  --gradient-primary: #{$gradient};
}
