@import "colors";

.switch {
  position: relative;
  display: inline-block;
  width: 2.94em;
  height: 1.2em;
  

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
     background-color: $myGray;
     border: 0.17em solid $white;
    }

    &:checked + .switch__slider:before {
      transform: translateX(26px);
      background-color: $white;
      border: 2px solid #ffcc00;
      
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    transition: 0.4s;
    border-radius: 34px;
    border: 0.17em solid $myGray;

    &:before {
      position: absolute;
      content: "";
      height: 0.5em;
      width: 0.5em;
    
      left: 1px;
      bottom: 1px;
      
      background-color: #ffcc00;
      transition: 0.4s;
      border-radius: 34px;
      border: 2px solid $myGray;
    }
  }
}
