@import "colors";
@import "media-queries";

%title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
  padding: 0 0 0.5rem 0;
  color: $lightRed;
}

.extras {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include desktop {
    // display: grid;
    // padding: 0 12em;
  }

  .contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    padding: 1em;

    .support {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .support__hover {
        // position: absolute;
        bottom: 4.688em;
        margin-top: 0.5em;
        padding: 1.25em;
        min-width: 12.5em;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        // transform: translateY(-10px);
        transition: 0.5s;
      }

      .icon {
        // display: contents;
        svg {
          box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
          padding: 1em;
          border-radius: 50%;
        }

        &:hover ~ .support__hover {
          visibility: visible;
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }
}
