@import "colors";
@import "media-queries";

%headings {
  display: flex;
  justify-content: center;
  margin-right: 4rem;

  h3 {
    color: $myGray;
    font-size: 1.2em;
    margin: 1rem 0 1.2rem 0;
  }
  a,
  i {
    display: flex;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: $myGray;
    margin-bottom: 0.5rem;

    &:hover {
      color: $red;
      transition: 0.3s ease-in-out;
    }

    svg {
      margin-right: 0.4em;
      width: auto;
      height: auto;
    }
  }

  @include mobileSmall {
    margin-right: 2.55rem;
  }
}

.container {
  background: inherit;
  padding: 2rem;

  footer {
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .footerTop {
      @extend %headings;
    }

    .footerMid {
      @extend %headings;
      flex-direction: column;
    }
  }

  .footerBottom {
    padding-top: 2rem;
    align-items: center;
    text-align: center;

    small {
      color: $myGray;
      font-weight: 600;
    }
  }
  #list {
    display: inline-block;
  }
}
