@import "colors";
@import "media-queries";

%text-color {
  color: $myGray;
  font-weight: 600;
  font-size: 0.9em;
}

%content-center {
  display: flex;
  justify-content: center;

  h3 {
    color: $myGray;
    font-size: 1.2em;
    margin: 1rem 0 1.2rem 0;
  }
  a,
  i {
    display: flex;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: $myGray;

    &:hover {
      color: $lightRed;
      transition: 0.3s ease-in-out;
    }

    svg {
      margin: 0.6em;
      width: auto;
      height: auto;
      vertical-align: middle;
    }
  }
}

.container {
  background: inherit;
  padding: 2rem;

  footer {
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .topLine {
      margin: 1em 0;
      height: 2.5px;
      border-radius: 1px;
      background-color: var(--grey-accent);
    }

    .footerTop {
      @extend %content-center;
    }
  }

  .footerMid {
    text-align: center;
    p {
      @extend %text-color;
    }
  }

  .footerBottom {
    align-items: center;
    text-align: center;

    small {
      @extend %text-color;
      svg {
        vertical-align: middle;
      }
    }
  }
}
