@import "colors";
@import "_media-queries";

.heros {
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 4em 0;

  .container {
    margin: 0 auto;
    padding: 0 1em;

    @include desktop {
      width: 50%;
    }
  }

  &__hTitle {
    font-weight: 900;
    font-size: 2em;
    line-height: 1;
    margin: 0;
  }

  &__subtitle {
    font-style: italic;
    font-weight: 600;
    line-height: 1.7em;
    font-size: 0.9rem;
    color: $white;
    opacity: 0.65;
    margin: 1em 0 1em 0;
  }
}
