@import "colors";
@import "_media-queries";

.heros {
  background-color: $primary;
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;

  @include desktop {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .container {
    margin: 0 auto;
    width: 95%;

    @include desktop {
      width: 50%;
    }
  }

  &__hTitle {
    font-weight: 750;
    font-size: 2.2em;
    line-height: 1;
    margin: 0;
  }

  &__subtitle {
    color: #c7c9d3;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 0.9rem;
    margin: 1.3em 0 1.3em 0;
  }
}
