@import "colors";

.heros {
  background-color: $primary;
  color: white;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  h1 {
    margin-bottom: 1em;
  }
  .hire {
    background: darken($primary, 5%);
    padding: 0.5em 3em;
    margin: 2em 0 3em;
    display: inline-block;
    border-radius: 10px;
    color: cyan;
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }

  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;

    &__formBox {
      padding: 0.375em;
      border-radius: 3px;
      background: #ececec;

      input {
        color: $primary;
        border: none;
        outline: none;
        background: #ececec;
      }

      button {
        color: $white;
        padding: 0.6em 0.9em;
        border: none;
        border-radius: 3px;
        background: $blue;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: $red;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .heros {
    input[type="text"] {
      font-size: 13px;
    }
  }
}
