@import "colors";
@import "button";
@import "media-queries";

.main h1,
.main h3 {
  text-align: center;
}

.main {
  list-style-type: none;
  margin: 0 auto;
  width: auto;
  background: $white;

  @include desktop {
    display: grid;
    justify-items: center;
  }

  .title {
    font-size: 1.3em;
    text-align: start;
    color: $lightRed;
    margin: 0;
    padding-left: 0.5em;
    padding-top: 2rem;
    border-bottom: 1px solid $lightGrey;

    @include desktop {
      width: 75%;
    }
  }
  // box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    padding: 2rem 1rem 0rem 1rem;

    @include desktop {
      width: 75%;
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex: 1 0 300px;
    max-width: 500px;
    overflow: hidden;
    border-radius: 2px;
    background: $white;
    color: $black;
    // box-shadow: 3px 2px 14px rgba(#262631, 0.05);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    font-size: 1rem;

    // @include tablet {
    //   max-width: 430px;
    // }

    @include desktop {
      flex-direction: row;
      flex: 1 0 550px;
      max-width: 700px;
    }

    &__content {
      padding: 1em;
      text-align: start;
    }

    &__mainImage {
      flex: 0 0 250px;
      height: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      // border: 20px solid #f2f6fc;
      // border-radius: 2px;
    }

    &__title {
      font-size: 1.3rem !important;
      font-weight: 650;
      margin: 0 0 0.5em 0;
    }

    &__excerpt {
      margin-bottom: 1.7em;
      color: $myGray;
      font-weight: 400;
      font-size: 0.9em;
      line-height: 1.5;
      opacity: 0.8;
    }

    &__toolbar {
      position: absolute;
      color: #6b7280;
      font-size: 0.875rem !important;
      font-weight: 600;
      text-align: start;
      margin-bottom: 1em;
      bottom: 0;
    }
  }
}
