@import "colors";
@import "button";
@import "media-queries";
.main h1,
.main h3 {
  text-align: center;
}

.main {
  list-style-type: none;
  margin: 0 auto;
  width: auto;

  // box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1.5rem 1.5rem;
    gap: 1.5rem 1.5rem;
    padding: 0.5rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex: 1 0 300px;
    max-width: 350px;
    overflow: hidden;
    background: $white;
    color: $primary;
    box-shadow: 3px 2px 14px rgba(#262631, 0.4);
    font-size: 1rem;

    @include tablet {
      max-width: 400px;
    }

    &__content {
      padding: 1rem;
      text-align: start;
    }

    &__mainImage {
      flex: 0 0 170px;
      height: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &__title {
      font-size: 1.3rem !important;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    &__excerpt {
      margin-bottom: 0.5rem;
    }

    &__toolbar {
      color: #6b7280;
      font-size: 0.875rem !important;
      text-align: start;
      margin-bottom: 0.3rem;
    }
    // .feed {
    //   padding: 2em;
    //   border-bottom: 1px solid #e6e5e6;
    //   margin: 1em 0;
    //   // box-shadow: 15px 21px 40px 0px rgba(0, 0, 0, 0.04);

    //   li {
    //     padding: 0 3em 0 3em;
    //     margin: 1em 0;
    //   }

    //   .mainImage {
    //     border: 0.5px solid #ddd;
    //     border-radius: 4px;
    //     padding: 5px;
    //     width: 100%;
    //   }
    // }

    //   a {
    //     font-size: 1.1em;
    //     text-decoration: none;
    //     display: block;
    //     margin: -0.1em 0 0.2em;

    //     #excerpt {
    //       color: #6b7280;
    //       border-left: 4px solid $red;
    //       padding: 0.15em 0 0.15em 1em;
    //     }

    //     .toolbar {
    //       color: #6b7280;
    //       font-size: 0.875rem;
    //     }

    //     .title {
    //       cursor: pointer;
    //     }
    //   }

    //   h2 {
    //     margin-top: 3em;
    //     text-transform: uppercase;
    //     font-size: 1em;
    //     // color: $white;
    //   }
    //   .content {
    //     padding: 0.5em;
    //     // background-color: $dark-gray;
    //   }
    // }

    // @media only screen and (min-width: 768px) {
    //   .main {
    //     width: 60%;

    //     li {
    //       display: grid;
    //       grid-template-columns: 180px auto;
    //       grid-column-gap: 1em;
    //     }

    //     .feed {
    //       padding: 0.8em;
    //     }
    //   }
    // }
  }
}
