@import "colors";

.header {
  background: inherit;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);

  .navbar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
  }

  a {
    color: transparent;
    background-image: $gradient;
    text-decoration: none;
    cursor: pointer;
    -webkit-background-clip: text;
    font-size: 1.2rem;
    font-weight: 800;
    animation: move 1.5s infinite;

    @keyframes move {
      50% {
        background-image: $gradient-animate;
      }
    }
  }

  .logo {
    align-items: center;
    display: flex;
  }

  nav {
    display: flex;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;

      li a {
        font-weight: normal;
        padding: 0.5em;
      }
    }
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }
}
