@import "colors";

.header {
  background: inherit;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);

  .navbar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $myGray;
    text-decoration: none;
  }

  a {
    color: $myGray;
    text-decoration: none;
    cursor: pointer;
  }

  .logo {
    align-items: center;
    display: flex;
  }

  nav {
    display: flex;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;

      li a {
        font-weight: normal;
        padding: 0.5em;
      }
    }
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }
}
