@import "colors";

.main {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: calc(100vw - 50px);
  text-align: center;
  margin-bottom: 16.551em;
  background: $white;

  .body {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
      0 4px 6px -2px rgb(0 0 0 / 5%);
    text-align: start;
    line-height: 2em;

    .top {
      text-align: left;
      padding: 2em 0;

      &__title {
        padding: 0 1rem;
        line-height: 1.3em;
      }

      &__excerpt {
        color: $myGray;
        font-style: italic;
        font-weight: 300;

        margin: 1em 1em 1em 1em;
      }

      &__date {
        color: #6b7280;
        text-align: start;
        margin-bottom: 0.3rem;
      }
    }

    .mainImage {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1em 0 1em;
      img {
        width: 100%;
      }
    }

    h2,
    h3,
    h4 {
      font-size: 1em;
      // line-height: 2.2em;
      text-align: justify;
      margin: 0 1em 0em 1em;
      word-spacing: 0;
    }

    p,
    ul {
      font-size: 1em;
      // line-height: 2.2em;
      text-align: justify;
      margin: 0 1em 2em 1em;
      word-spacing: 0;
    }

    figure {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  .sub {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    padding: 2em 0;

    h4 {
      margin: 0 0 1em 0;
    }

    .subp {
      font-size: 1em;
      margin: 0 1em 1em 1em;
      word-spacing: 0;
      font-weight: 200;
    }
  }

  .comments {
    justify-content: center;
    display: flex;
    padding: 2em 0;

    button {
      background: $white;
      color: $myGray;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -2px rgb(0 0 0 / 5%);
      width: 50%;
      padding: 0.8em;
      border: 2px solid $myGray;
      font-weight: 700;
      border-radius: 1px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      svg {
        color: $myGray;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    width: 60%;

    .body {
      .top {
        &__title {
          padding: 0 3.125rem;
        }

        &__excerpt {
          margin: 1em 3.125em 1em 3.125em;
        }

        &__line {
          margin: 1em 3.125em 1em 3.125em;
          height: 2px;
          border-radius: 1px;
          background-color: #f1f1f1;
        }
      }
      h1,
      h2,
      h3,
      h4 {
        margin: 0 3.125em;
      }

      p,
      ul {
        margin: 0 3.125em 2em 3.125em;
      }

      .mainImage {
        margin: 0 3.125em 0 3.125em;
      }
    }
  }
}
