@import "colors";
@import "media-queries";

%align-center {
  display: flex;
  align-items: center;
}

.main {
  margin: 2em auto;
  // margin-top: 2em;
  width: 100%;
  max-width: calc(100% - 1em);
  text-align: center;
  // margin-bottom: 16.551em;
  background: $white;

  @include tablet {
    width: 90% !important;
  }

  .body {
    text-align: start;
    line-height: 2em;
    margin: 1em 0;

    .top {
      text-align: left;

      &__title {
        line-height: 1.3em;
      }

      &__excerpt {
        color: $myGray;
        font-style: italic;
        font-weight: 400;
        line-height: 1.5em;
        margin: 1em 0;
      }

      &__date {
        color: #6b7280;
        text-align: start;
        margin-bottom: 0em;
      }

      &__share {
        display: flex;
        margin-bottom: 1em;
        svg {
          margin: 0 0.15em;
        }

        button {
          display: flex;
          border: none;
          background: inherit;
          padding: 0;
        }
      }
    }

    .mainImage {
      @extend %align-center;
      justify-content: center;
      margin-bottom: 1em;

      img {
        width: 100%;
      }
    }

    h2,
    h3,
    h4,
    p,
    ul {
      font-size: 1.03em;
      // line-height: 2.2em;
      text-align: justify;
      word-spacing: 0;
    }

    p {
      margin-bottom: 1em;
      opacity: 0.9;
    }

    ul {
      background: $lightGrey;
      border-radius: 1px;
    }

    figure {
      text-align: center;
      padding: 0;
      margin: 0;

      img {
        width: 100%;
        border-radius: 2px;
        border: 10px solid $lightGrey;
      }
    }

    .coffee {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0;

      @include mobileLarge {
        border-top: 1.5px solid $lightGrey;
        border-bottom: 1.5px solid $lightGrey;
      }
    }
  }

  .sub {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    padding: 2em 0;

    h4 {
      margin: 0 0 1em 0;
    }

    .subp {
      font-size: 1em;
      margin: 0 1em 1em 1em;
      word-spacing: 0;
      font-weight: 300;
    }
  }

  .comments {
    justify-content: center;
    display: flex;
    padding: 2em 0;

    button {
      background: $white;
      color: $myGray;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -2px rgb(0 0 0 / 5%);
      width: 50%;
      padding: 0.8em;
      border: 2px solid $myGray;
      font-weight: 700;
      border-radius: 1px;
      @extend %align-center;
      justify-content: space-between;
      cursor: pointer;

      svg {
        color: $myGray;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    width: 60%;

    .body {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -2px rgb(0 0 0 / 5%);

      padding: 2em;
      .top {
        &__line {
          margin: 1em 0;
          height: 2px;
          border-radius: 1px;
          background-color: #f1f1f1;
        }

        &__share {
          margin-bottom: 1em;
        }
      }
    }
  }
}
