@import "colors";

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;

  &__formBox {
    padding: 0.375em;
    border-radius: 2px;
    background: #ececec;

    input {
      color: $primary;
      border: none;
      outline: none;
      background: #ececec;
    }

    button {
      color: $white;
      padding: 0.6em 0.9em;
      border: none;
      border-radius: 2px;
      background: $blue;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: $red;
      }
    }
  }
}
