@import "colors";
@import "media-queries";

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobileLarge {
    padding: 0 1em;
  }

  @include mobileSmall {
    padding: 0 1em;
  }

  &__formBox {
    padding-left: 0.375em;
    width: 100%;
    height: 35px;
    display: flex;
    border-radius: 1px;
    background: #ececec;

    @include mobileLarge {
      margin: 0.5em;
    }

    @include mobileSmall {
      margin: 0.5em;
    }

    input {
      color: $primary;
      border: none;
      outline: none;
      background: #ececec;
      width: inherit;
      font-weight: 400;
    }
  }

  button {
    width: 100%;
    color: $white;
    height: 35px;
    padding: 0.6em 0.9em;
    border: none;
    border-radius: 1px;
    background: $lightRed;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;

    &:hover {
      background: $red;
    }
  }
}

@media only screen and (min-width: 768px) {
  .subscribe {
    flex-direction: row;

    > * {
      margin-left: 0.5em;
      margin-bottom: 0;
    }

    &__formBox {
      width: 30%;

      input {
        width: 100%;
      }
    }

    button {
      width: auto;
    }
  }
}
