@import "colors";

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -0.5em;
  margin-bottom: -0.5em;

  > * {
    margin-left: 0;
    margin-bottom: 0.5em;
  }

  &__formBox {
    padding-left: 0.375em;
    height: 35px;
    display: flex;
    border-radius: 1px;
    background: #ececec;
    width: 35vh;

    input {
      color: $primary;
      border: none;
      outline: none;
      background: #ececec;
    }
  }

  button {
    color: $white;
    height: 35px;
    padding: 0.6em 0.9em;
    border: none;
    border-radius: 1px;
    background: $blue;
    cursor: pointer;
    transition: 0.3s;
    width: 35vh;

    &:hover {
      background: $red;
    }
  }
}

@media only screen and (min-width: 768px) {
  .subscribe {
    flex-direction: row;

    > * {
      margin-left: 0.5em;
      margin-bottom: 0;
    }

    &__formBox {
      min-width: auto;
    }

    button {
      min-width: auto;
    }
  }
}
