@import "colors";
@import "media-queries";

.container {
  // background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: $white;
  padding: 2rem 0;

  @include tablet {
    height: 10em;
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 2rem 0;
    color: $lightRed;
  }

  .support {
    text-align: start;
    justify-content: center;
    width: 65%;
    color: $lightRed;

    &__portal {
      display: flex;
      flex-direction: row;
      justify-content: center;

      line-height: 0;
      font-size: 0.7em;
      font-weight: 700;
      color: $lightRed;

      a {
        margin: 0 1em;
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
        padding: 1.2em;
        border-radius: 100%;

        &:hover {
          transition: all 200ms ease-in-out;
          transform: scale(1.05);
        }

        svg {
          margin-right: 0.3em;
        }

        @include desktop {
          margin-left: 3em;
        }
      }
      // @include tablet {
      //   flex-direction: column;
      // }

      // #buymeacoffee {
      //   display: inline-block;
      //   // color: $white;
      // }

      // #butter {
      //   display: inline-block;
      //   // color: $white;
      // }

      // #patreon {
      //   display: inline-block;
      //   // color: $white;
      // }
      // #subscribestar {
      //   display: inline-block;
      //   // color: $white;
      // }
    }
  }
}
