@import "colors";

.support {
  background-color: $primary;

  .statscontainer {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem;
    max-width: 69.375rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

    .main {
      display: flex;
      flex-wrap: wrap;

      .desc {
        align-items: center;
        text-align: center;
        color: #fff;
        width: 100%;
      }

      .items {
        padding: 0.9375rem;
        flex: 0 0 50%;
        flex: 1 1;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
        text-align: center;
        color: var(--white);
        border-radius: 6px;
        align-items: center;
        display: flex;
        justify-content: space-around;

        .live-item:hover {
          transition: all 200ms ease-in-out;
          transform: scale(1.05);
        }
        .live-intro {
          margin-bottom: 1.875rem;
          text-align: center;
        }

        .icons {
          justify-content: center;
          display: flex;
          justify-content: space-evenly;
          font-weight: bold;
          line-height: 1.15;
        }

        #icon {
          margin-right: 2.5em;
          cursor: pointer;
        }
      }
      /* #youtube {
    color: #e62117;
    align-items: center;
  }
  #twitter {
    color: #08a0e9;
  }
  #instagram {
    color: #8134af;
  } */
    }
  }
}
@media screen and (min-device-width: 900px) {
  .desc {
    width: 30% !important;
  }

  .items {
    width: 50vh;
  }
}
